.home {
    text-align: center;

}

.home-header {
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;


}


.home-logo {
    height: 10vmin;
    padding-bottom: 5rem;

}